.try-again
{
width:auto;
height:auto;
color:#000000;
text-align:center;
background: none;
font-family: 'FrutigerNextPro';
/* font-weight: bold; */
font-size:16px;
font-weight: normal;
position:absolute;
top:361px;
left:57px;
z-index:3;
display:none;
border:0;
outline:none;
}
.nextlevel
{
outline:none;
width:auto;
height:auto;
color:#000000;
text-align:center;
background: none;
font-size:16px;
font-weight: normal;
font-family: 'FrutigerNextPro';
position:absolute;
top: 397px;
left: 57px;
z-index:3;
display:none;
border:0;
}
#hint-button
 {
 background:url(img/info.png);
height: 30px;
width: 30px;
border-radius: 50%;
border: none;
outline: none;
}
.footer
{
position:relative;
}
#container
{
width:810px;
margin:auto;
position:relative;
}
.dropbox 
{
-webkit-filter: grayscale(0.7);
position:absolute;
height:285px;
width:535px;
left:265px;
top:0px;
z-index:0;
display:none;

}
#hint-button:hover {
box-shadow: 1px 1px 3px 1px #ccc;
}
.drag{
-webkit-filter: grayscale(0.7);
}
.full
{
position:absolute;
-webkit-animation: zoomimg 3s forwards; 
}
@-webkit-keyframes zoomimg
{
100%{ width:810px;
height:466px; top:0px; left:0px; -webkit-filter: grayscale(0);}
}
.bodyinc
{
-webkit-animation:gamebody_inc 3s forwards;
}
@-webkit-keyframes gamebody_inc
{
100%{height:500px;}
}
@-webkit-keyframes gamebody_dec
{
100%{height:320px;}
}
.drops
{
position:absolute;
}
.drop1{left:265px; top:0px; height:85px; width:150px;}
.drop2{left:265px; top:65px;height:118px; width:116px;}
.drop3{left:265px; top:163px;height:83px; width:149px;}
.drop4{left:381px; top:0px; height:85px; width:135px;}
.drop5{left:351px; top:67px; height:115px; width:176px;}
.drop6{left:383px; top:163px; height:83px; width:147px;}
.drop7{left:463px; top:0px; height:85px; width:135px;} 
.drop8{left:495px; top:67px; height:114px; width:133px;}
.drop9{left:501px; top:163px; height:83px; width:98px;}
.drop10{left:570px; top:0px; height:85px; width:127px;}
.drop11{left:595px; top:67px; height:144px; width:133px;}
.drop12{left:568px; top:163px; height:83px; width:128px;}
.drop13{left:690px; top:0px; height:83px; width:100px;}
.drop14{left:690px; top:67px; height:115px; width:100px;}
.drop15{left:690px; top:163px; height:83px; width:100px;}
#dragbox
{
width:260px;
height:285px;
}
.dropbox img
{
width:inherit;
height:inherit;
}
.drags img
{
width:55px;
height:40px;
position:absolute;
}
.drop1{
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.drop3{
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.drop13{
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.drop15{
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}