.try-again
{
width:auto;
height:auto;
color:#000000;
text-align:center;
background: none;
font-family: 'FrutigerNextPro';
/* font-weight: bold; */
font-size:16px;
font-weight: normal;
position:absolute;
top:361px;
left:57px;
z-index:3;
display:none;
border:0;
outline:none;
}
.nextlevel
{
outline:none;
width:auto;
height:auto;
color:#000000;
text-align:center;
background: none;
font-size:16px;
font-weight: normal;
font-family: 'FrutigerNextPro';
position:absolute;
top: 397px;
left: 57px;
z-index:3;
display:none;
border:0;
}
#hint-button
 {
 background:url(img/info.png);
height: 30px;
width: 30px;
border-radius: 50%;
border: none;
outline: none;
}
.footer
{
position:relative;
}
#container
{
width:810px;
margin:auto;
position:relative;
}
.dropbox 
{
-webkit-filter: grayscale(0.7);
position:absolute;
height:285px;
width:535px;
left:265px;
top:0px;
z-index:0;
display:none;

}
#hint-button:hover {
box-shadow: 1px 1px 3px 1px #ccc;
}
.drag{
-webkit-filter: grayscale(0.7);
}
.full
{
position:absolute;
-webkit-animation: zoomimg 3s forwards; 
}
@-webkit-keyframes zoomimg
{
100%{ width:810px;
height:466px; top:0px; left:0px; -webkit-filter: grayscale(0);}
}
.bodyinc
{
-webkit-animation:gamebody_inc 3s forwards;
}
@-webkit-keyframes gamebody_inc
{
100%{height:500px;}
}
@-webkit-keyframes gamebody_dec
{
100%{height:320px;}
}
.drops
{
position:absolute;
}
.drop1{left:265px; top:0px; height:71px; width:167px;}
.drop2{left:265px; top:52px;height:118px; width:132px;}
.drop3{left:265px; top:150px;height:89px; width:167px;}
.drop4{left:395px; top:0px; height:71px; width:153px;}
.drop5{left:360px; top:62px; height:118px; width:199px;}
.drop6{left:394px; top:150px; height:88px; width:131px;}
.drop7{left:483px; top:0px; height:71px; width:193px;} 
.drop8{left:525px; top:51px; height:120px; width:150px;}
.drop9{left:484px; top:150px; height:87px; width:190px;}

{
width:260px;
height:285px;
}
.dropbox img
{
width:inherit;
height:inherit;
}
.drags img
{
width:55px;
height:40px;
position:absolute;
}
.drop1{
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.drop3{
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.drop7{
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.drop9{
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}}